* {
    box-sizing: border-box
}

#grid-container {}

#grid {}

.row {
    padding: 0;
    margin: 0;
}

.cell {
    display: inline-block;
    border: 1px solid black;
    margin: 0;
}

.red {
    background: red;
}